/* Resetando o estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  header {
    background: #333;
    color: white;
    padding: 10px 0;
  }
  
   /* Estilo para a logo */
   .logo img {
    width: 50px;           /* Largura ajustável da logo */
    height: 50px;          /* Altura ajustável */
    border-radius: 50%;    /* Deixa a imagem circular */
    object-fit: cover;     /* Garante o ajuste correto dentro do círculo */
    display: block;        /* Garante que se comporte como um bloco */
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }
  
  .hamburger .bar {
    width: 30px;
    height: 3px;
    background: white;
  }
  
  /* Estilos principais */
  main {
    padding: 20px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
  }
  
  /* Páginas de Login e Cadastro */
  #login, #register {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin: 10px 0 5px;
  }
  
  form input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #444;
  }
  
  /* Estilos Responsivos */
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background: #333;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 20px;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  
